<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ titre }}</title>
        <script type="text/javascript" src="{{url_for('static', filename='d3/d3.v3.js')}}"></script>
        <link href="{{ url_for('static', filename='css/surfcheck.css') }}" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <svg class="chart" width="1200" height="300"></svg>

        <script type="text/javascript">
            var dataset = {{ docs|tojson }};
            // d3.select("body").selectAll("div")
            //   .data(dataset)
            //   .enter()
            //   .append("div")
            //   .attr("class", "bar")
            //   .style("height", function(d) {
            //     var barHeight = d.wave_height * 30;  // On agrandit 5 fois l'échelle
            //     return barHeight + "px";
            //   });

            // Largeur et hauteur

            var svg = d3.select("svg");
            var margin = {top: 20, right: 30, bottom: 10, left: 30};
            var w = +svg.attr("width") - margin.left - margin.right;
            var h = +svg.attr("height") - margin.top - margin.bottom;
            var barPadding = 1; 
            var yAxisPadding = 30;

            // scale
            var whScale = d3.scale.linear()
                    .domain([0, 6])
                    .range([h, 0]);

            // axis
            var yAxis = d3.svg.axis()
              .scale(whScale)
              .orient("left");

            var chart = svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            // chart
            chart.append("g")
                .selectAll("rect")
                .data(dataset)
                .enter()
                .append("rect")
                .attr("class", "bar")
                // .attr("fill", "teal")
                // .attr("fill", function(d) {
                //     return "rgb(" + (255 - Math.round(d.wave_period * 17)) + ", 0, 0)"; //15s = 255
                // })
                .attr("x", 0)
                .attr("y", function(d) {
                    return whScale(d.wave_height);
                })
                .attr("width", w / dataset.length - barPadding)
                .attr("height", function(d) {
                    return h - whScale(d.wave_height);
                })
                .attr("x", function(d, i) {
                    return i * (w / dataset.length);
                });

                
            // Y axis
            chart.append("g")
                .attr("class", "axis")
                .call(yAxis);
        </script>

{# 
        {% for doc in docs %}
        <ul>
             {% for key, value in doc.items() %}
                <li>{{key}} : {{value}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
 #}
    </body>
</html>